<h1> Hi, <%= session[:name] %> </h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
<% end %>



<%# A user homepage, which says, "Hi, #{username}", 
and has a link to the secret page, which is... %>